<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}

		<li><a href="http://cdm.weber.edu/cdm/search/collection/UCUI!UCUIPHOTO!UCUISYM!ERL!MIN!ED!FEATHER2!HJLAW!MEX2!LEDGER!GE/order/title/ad/asc">Collection</a></li>
		<li><a href="/2016/08/25/company_info.html">Company Information</a></li>
		<li><a href="https://dc.weber.edu/collection-list">Digital Collections</a></li>	
		<li><a href="/symposia.html">Symposia</a></li>
		<li><a href="/2016/08/22/donors.html">Donors</a></li><br>
		<li><a href="https://library.weber.edu/" style="border:none;"><img src="/assets/images/logo.png" width="100px"></a></li>

		<!-- {% for page in site.pages %}
		    {% if page.layout != "home" %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %} -->
	</ul>
	<!-- <ul class="actions vertical">
		<li><a href="#" class="button">Home</a></li>
	</ul> -->
</nav>
